[{:last-trade-size 2,
  :last-trade-time "1524063124446",
  :type :tick-string,
  :last-trade-price 295.63,
  :single-trade-flag "false",
  :total-volume 33348,
  :ticker-id 0,
  :vwap 295.43215875,
  :uuid "aa823c63-41d2-419c-8a52-02192ff20eb7"}
 {:last-trade-size 2,
  :last-trade-time "1524063136649",
  :type :tick-string,
  :last-trade-price 295.68,
  :single-trade-flag "false",
  :total-volume 33379,
  :ticker-id 0,
  :vwap 295.4323606,
  :uuid "b51af968-0742-4846-8568-8480058fe82b"}
 {:last-trade-size 1,
  :last-trade-time "1524063167106",
  :type :tick-string,
  :last-trade-price 295.72,
  :single-trade-flag "false",
  :total-volume 33417,
  :ticker-id 0,
  :vwap 295.43273906,
  :uuid "07f17020-fcf2-4963-9e50-8bbc385d5df0"}
 {:last-trade-size 7,
  :last-trade-time "1524063193400",
  :type :tick-string,
  :last-trade-price 296.05,
  :single-trade-flag "true",
  :total-volume 33479,
  :ticker-id 0,
  :vwap 295.43350649,
  :uuid "9ebd72b0-afa1-4140-995a-6ec570c23091"}
 {:last-trade-size 1,
  :last-trade-time "1524063206587",
  :type :tick-string,
  :last-trade-price 296.09,
  :single-trade-flag "false",
  :total-volume 33513,
  :ticker-id 0,
  :vwap 295.43417966,
  :uuid "e027a0c9-94f3-445a-baad-be34a6bc8e3a"}
 {:last-trade-size 1,
  :last-trade-time "1524063215645",
  :type :tick-string,
  :last-trade-price 296.06,
  :single-trade-flag "false",
  :total-volume 33531,
  :ticker-id 0,
  :vwap 295.43450312,
  :uuid "f40156c2-cbbd-46f5-9ee2-2f78837d46a8"}
 {:last-trade-size 1,
  :last-trade-time "1524063265087",
  :type :tick-string,
  :last-trade-price 295.92,
  :single-trade-flag "true",
  :total-volume 33606,
  :ticker-id 0,
  :vwap 295.4358568,
  :uuid "4b1f6306-d14c-481c-bca0-f18c0dabc9ef"}
 {:last-trade-size 2,
  :last-trade-time "1524063311409",
  :type :tick-string,
  :last-trade-price 295.49,
  :single-trade-flag "false",
  :total-volume 33678,
  :ticker-id 0,
  :vwap 295.43624758,
  :uuid "adc6c0e1-f7bb-4b39-9126-0817b531d096"}
 {:last-trade-size 1,
  :last-trade-time "1524063338332",
  :type :tick-string,
  :last-trade-price 295.26,
  :single-trade-flag "true",
  :total-volume 33744,
  :ticker-id 0,
  :vwap 295.43620256,
  :uuid "b73f768f-28c1-447a-b4a5-15346a02cd78"}
 {:last-trade-size 4,
  :last-trade-time "1524063344853",
  :type :tick-string,
  :last-trade-price 295.26,
  :single-trade-flag "false",
  :total-volume 33760,
  :ticker-id 0,
  :vwap 295.43610931,
  :uuid "806694f1-6db3-44f1-b4e6-86a4a0c602f6"}
 {:last-trade-size 1,
  :last-trade-time "1524063351681",
  :type :tick-string,
  :last-trade-price 295.12,
  :single-trade-flag "true",
  :total-volume 33799,
  :ticker-id 0,
  :vwap 295.43574934,
  :uuid "4429deef-3938-421e-bf85-5bdfe0a762d8"}
 {:last-trade-size 3,
  :last-trade-time "1524063355750",
  :type :tick-string,
  :last-trade-price 295.13,
  :single-trade-flag "false",
  :total-volume 33805,
  :ticker-id 0,
  :vwap 295.43569242,
  :uuid "b65551c0-f2fd-4222-8a19-cfe178985547"}
 {:last-trade-size 1,
  :last-trade-time "1524063379607",
  :type :tick-string,
  :last-trade-price 295.28,
  :single-trade-flag "true",
  :total-volume 33862,
  :ticker-id 0,
  :vwap 295.43537709,
  :uuid "5728eb55-3f66-4444-ba33-5c9721d58df2"}
 {:last-trade-size 6,
  :last-trade-time "1524063391067",
  :type :tick-string,
  :last-trade-price 295.02,
  :single-trade-flag "false",
  :total-volume 34027,
  :ticker-id 0,
  :vwap 295.4334517,
  :uuid "005860dc-9014-4c12-99ab-5cf8ffaf35ac"}
 {:last-trade-size 2,
  :last-trade-time "1524063395580",
  :type :tick-string,
  :last-trade-price 294.94,
  :single-trade-flag "false",
  :total-volume 34059,
  :ticker-id 0,
  :vwap 295.43300882,
  :uuid "098d9a41-9c0c-48b0-8d64-c12c69c01239"}
 {:last-trade-size 1,
  :last-trade-time "1524063398087",
  :type :tick-string,
  :last-trade-price 294.91,
  :single-trade-flag "true",
  :total-volume 34066,
  :ticker-id 0,
  :vwap 295.43290141,
  :uuid "055c703a-5f24-4b60-935f-ce45ca518cd4"}
 {:last-trade-size 7,
  :last-trade-time "1524063402099",
  :type :tick-string,
  :last-trade-price 294.91,
  :single-trade-flag "true",
  :total-volume 34136,
  :ticker-id 0,
  :vwap 295.43166544,
  :uuid "855c56ca-2ddd-4ae9-a52b-eaaa1ec23c1c"}
 {:last-trade-size 11,
  :last-trade-time "1524063403604",
  :type :tick-string,
  :last-trade-price 294.89,
  :single-trade-flag "true",
  :total-volume 34190,
  :ticker-id 0,
  :vwap 295.43074811,
  :uuid "78a899eb-5c47-4aa2-8c62-bf856448bd44"}
 {:last-trade-size 1,
  :last-trade-time "1524063404857",
  :type :tick-string,
  :last-trade-price 294.8,
  :single-trade-flag "false",
  :total-volume 34210,
  :ticker-id 0,
  :vwap 295.43038611,
  :uuid "0c9052b3-8887-44ef-a409-a21750d68c21"}
 {:last-trade-size 1,
  :last-trade-time "1524063411376",
  :type :tick-string,
  :last-trade-price 294.81,
  :single-trade-flag "false",
  :total-volume 34240,
  :ticker-id 0,
  :vwap 295.42978882,
  :uuid "0d360662-33c4-4ffe-8e9e-4f3755c30803"}
 {:last-trade-size 7,
  :last-trade-time "1524063413524",
  :type :tick-string,
  :last-trade-price 294.8,
  :single-trade-flag "false",
  :total-volume 34247,
  :ticker-id 0,
  :vwap 295.42966044,
  :uuid "02d714e3-130b-48b8-b477-6077beb1d937"}
 {:last-trade-size 2,
  :last-trade-time "1524063419956",
  :type :tick-string,
  :last-trade-price 294.83,
  :single-trade-flag "true",
  :total-volume 34260,
  :ticker-id 0,
  :vwap 295.42942983,
  :uuid "8d90bebd-b918-4356-85d4-fa4c89b4bb8a"}
 {:last-trade-size 1,
  :last-trade-time "1524063439010",
  :type :tick-string,
  :last-trade-price 294.8,
  :single-trade-flag "true",
  :total-volume 34294,
  :ticker-id 0,
  :vwap 295.42883257,
  :uuid "9f3cf8dc-2d61-4a9e-8aa8-094d5ff39011"}
 {:last-trade-size 2,
  :last-trade-time "1524063443525",
  :type :tick-string,
  :last-trade-price 294.73,
  :single-trade-flag "true",
  :total-volume 34297,
  :ticker-id 0,
  :vwap 295.42877378,
  :uuid "a42f066f-5e8a-453a-a408-78b1592ca9cd"}
 {:last-trade-size 1,
  :last-trade-time "1524063462628",
  :type :tick-string,
  :last-trade-price 294.6,
  :single-trade-flag "false",
  :total-volume 34384,
  :ticker-id 0,
  :vwap 295.42718405,
  :uuid "c545997d-c2ad-4b52-a8bd-85c6d720a98b"}
 {:last-trade-size 1,
  :last-trade-time "1524063469209",
  :type :tick-string,
  :last-trade-price 294.68,
  :single-trade-flag "true",
  :total-volume 34397,
  :ticker-id 0,
  :vwap 295.42686937,
  :uuid "6e27b11b-ca8f-418d-99fa-1fdd0610acd8"}
 {:last-trade-size 3,
  :last-trade-time "1524063478232",
  :type :tick-string,
  :last-trade-price 294.56,
  :single-trade-flag "true",
  :total-volume 34402,
  :ticker-id 0,
  :vwap 295.42674532,
  :uuid "fd188f4f-1707-4cdf-8c28-e95237e71128"}
 {:last-trade-size 1,
  :last-trade-time "1524063483747",
  :type :tick-string,
  :last-trade-price 294.63,
  :single-trade-flag "false",
  :total-volume 34411,
  :ticker-id 0,
  :vwap 295.42654769,
  :uuid "d33f2f38-1f16-4d7e-a0f7-8f1f1f85d9c3"}
 {:last-trade-size 1,
  :last-trade-time "1524063493674",
  :type :tick-string,
  :last-trade-price 294.67,
  :single-trade-flag "true",
  :total-volume 34418,
  :ticker-id 0,
  :vwap 295.42639591,
  :uuid "e5fd2ae8-f26b-4558-90df-594de9d802da"}
 {:last-trade-size 5,
  :last-trade-time "1524063506518",
  :type :tick-string,
  :last-trade-price 294.9,
  :single-trade-flag "false",
  :total-volume 34440,
  :ticker-id 0,
  :vwap 295.42598477,
  :uuid "acd34d74-2dd4-4112-88c8-e12f0c2efe49"}
 {:last-trade-size 4,
  :last-trade-time "1524063511220",
  :type :tick-string,
  :last-trade-price 294.92,
  :single-trade-flag "false",
  :total-volume 34451,
  :ticker-id 0,
  :vwap 295.42581063,
  :uuid "69abc6df-1723-4b74-8b65-72d0592f55df"}
 {:last-trade-size 20,
  :last-trade-time "1524063511976",
  :type :tick-string,
  :last-trade-price 294.98,
  :single-trade-flag "false",
  :total-volume 34473,
  :ticker-id 0,
  :vwap 295.42552567,
  :uuid "beabca8c-fb15-4697-b29b-ce1ad758c42a"}
 {:last-trade-size 1,
  :last-trade-time "1524063522006",
  :type :tick-string,
  :last-trade-price 295.08,
  :single-trade-flag "false",
  :total-volume 34495,
  :ticker-id 0,
  :vwap 295.42532396,
  :uuid "30a57d94-ef1a-4aa1-b403-e5e164f18726"}
 {:last-trade-size 4,
  :last-trade-time "1524063525771",
  :type :tick-string,
  :last-trade-price 295.24,
  :single-trade-flag "false",
  :total-volume 34501,
  :ticker-id 0,
  :vwap 295.42528797,
  :uuid "24d94dcd-efbe-4dce-acf1-888563fc23d5"}
 {:last-trade-size 2,
  :last-trade-time "1524063529272",
  :type :tick-string,
  :last-trade-price 295.16,
  :single-trade-flag "true",
  :total-volume 34522,
  :ticker-id 0,
  :vwap 295.42516616,
  :uuid "ebcf975b-1772-47f3-b0e4-47ff35354f09"}
 {:last-trade-size 10,
  :last-trade-time "1524063532030",
  :type :tick-string,
  :last-trade-price 295.28,
  :single-trade-flag "false",
  :total-volume 34539,
  :ticker-id 0,
  :vwap 295.42507405,
  :uuid "a58b7362-472a-4e16-93d2-36b66d68143e"}
 {:last-trade-size 2,
  :last-trade-time "1524063543880",
  :type :tick-string,
  :last-trade-price 295.26,
  :single-trade-flag "true",
  :total-volume 34548,
  :ticker-id 0,
  :vwap 295.42502701,
  :uuid "c44c9543-64bb-4b6a-85f1-7fcb9a56580f"}
 {:last-trade-size 22,
  :last-trade-time "1524063550057",
  :type :tick-string,
  :last-trade-price 295.3,
  :single-trade-flag "false",
  :total-volume 34581,
  :ticker-id 0,
  :vwap 295.42486639,
  :uuid "2afe045f-da4e-4bde-8b58-d04765b6fc4e"}
 {:last-trade-size 1,
  :last-trade-time "1524063555322",
  :type :tick-string,
  :last-trade-price 295.18,
  :single-trade-flag "true",
  :total-volume 34588,
  :ticker-id 0,
  :vwap 295.42481267,
  :uuid "d652437b-9bcf-4db3-8a90-ad2dd45bab86"}
 {:last-trade-size 1,
  :last-trade-time "1524063566432",
  :type :tick-string,
  :last-trade-price 295.3,
  :single-trade-flag "true",
  :total-volume 34610,
  :ticker-id 0,
  :vwap 295.4247343,
  :uuid "37bddff3-f42b-4b59-b4f9-d7342da2acbb"}
 {:last-trade-size 1,
  :last-trade-time "1524063570768",
  :type :tick-string,
  :last-trade-price 294.97,
  :single-trade-flag "true",
  :total-volume 34636,
  :ticker-id 0,
  :vwap 295.42448623,
  :uuid "4cecc3c6-129b-4cf1-ad2b-44538415f692"}
 {:last-trade-size 1,
  :last-trade-time "1524063575474",
  :type :tick-string,
  :last-trade-price 294.85,
  :single-trade-flag "true",
  :total-volume 34656,
  :ticker-id 0,
  :vwap 295.42419401,
  :uuid "45f746bc-af65-4122-9c1b-579b237a6bb3"}
 {:last-trade-size 1,
  :last-trade-time "1524063601703",
  :type :tick-string,
  :last-trade-price 294.86,
  :single-trade-flag "true",
  :total-volume 34699,
  :ticker-id 0,
  :vwap 295.42353935,
  :uuid "0497ac72-74fc-4621-bb75-8de64dd2f14b"}
 {:last-trade-size 3,
  :last-trade-time "1524063630823",
  :type :tick-string,
  :last-trade-price 294.99,
  :single-trade-flag "true",
  :total-volume 34721,
  :ticker-id 0,
  :vwap 295.42324548,
  :uuid "94901069-8b72-4f8c-adf8-61ba327c2388"}
 {:last-trade-size 6,
  :last-trade-time "1524063646934",
  :type :tick-string,
  :last-trade-price 295.18,
  :single-trade-flag "true",
  :total-volume 34760,
  :ticker-id 0,
  :vwap 295.42286762,
  :uuid "ed92da3f-79e8-4ff1-ab4c-a0a643df20be"}
 {:last-trade-size 1,
  :last-trade-time "1524063666991",
  :type :tick-string,
  :last-trade-price 295.42,
  :single-trade-flag "true",
  :total-volume 34810,
  :ticker-id 0,
  :vwap 295.42278251,
  :uuid "78db39a0-5766-45ea-bb3b-607c555942e5"}
 {:last-trade-size 1,
  :last-trade-time "1524063686496",
  :type :tick-string,
  :last-trade-price 295.55,
  :single-trade-flag "true",
  :total-volume 34858,
  :ticker-id 0,
  :vwap 295.42291507,
  :uuid "fb09345d-105a-4500-ba93-244d01ce0cc7"}
 {:last-trade-size 2,
  :last-trade-time "1524063694270",
  :type :tick-string,
  :last-trade-price 295.6,
  :single-trade-flag "false",
  :total-volume 34868,
  :ticker-id 0,
  :vwap 295.42295206,
  :uuid "4d21c299-3261-499f-8fd6-9b556a13ff6f"}
 {:last-trade-size 2,
  :last-trade-time "1524063697608",
  :type :tick-string,
  :last-trade-price 295.57,
  :single-trade-flag "false",
  :total-volume 34880,
  :ticker-id 0,
  :vwap 295.42299822,
  :uuid "accd2934-cb35-4230-9d79-843c2b197b8e"}
 {:last-trade-size 1,
  :last-trade-time "1524063699287",
  :type :tick-string,
  :last-trade-price 295.5,
  :single-trade-flag "true",
  :total-volume 34895,
  :ticker-id 0,
  :vwap 295.42307328,
  :uuid "9027dcfa-4d86-4ac7-90b4-8ca0d7685d7b"}
 {:last-trade-size 8,
  :last-trade-time "1524063702297",
  :type :tick-string,
  :last-trade-price 295.63,
  :single-trade-flag "false",
  :total-volume 34912,
  :ticker-id 0,
  :vwap 295.42315731,
  :uuid "af97fa52-5bb4-4fff-b62b-2f6cc43ca456"}
 {:last-trade-size 1,
  :last-trade-time "1524063732530",
  :type :tick-string,
  :last-trade-price 295.36,
  :single-trade-flag "false",
  :total-volume 34997,
  :ticker-id 0,
  :vwap 295.423395,
  :uuid "7e63199e-b6d1-42bc-930a-3742b3977ca8"}
 {:last-trade-size 1,
  :last-trade-time "1524063739937",
  :type :tick-string,
  :last-trade-price 295.36,
  :single-trade-flag "true",
  :total-volume 35037,
  :ticker-id 0,
  :vwap 295.42322114,
  :uuid "2657f6b9-4425-45a4-b61b-c7ec885e9338"}
 {:last-trade-size 2,
  :last-trade-time "1524063746015",
  :type :tick-string,
  :last-trade-price 295.05,
  :single-trade-flag "false",
  :total-volume 35062,
  :ticker-id 0,
  :vwap 295.42304251,
  :uuid "f85f419f-8e73-4947-a4f1-a0113c74b876"}
 {:last-trade-size 2,
  :last-trade-time "1524063758447",
  :type :tick-string,
  :last-trade-price 295.08,
  :single-trade-flag "false",
  :total-volume 35075,
  :ticker-id 0,
  :vwap 295.422932,
  :uuid "46ac3f86-d7f9-4b4c-92d6-5dc77ff4437a"}
 {:last-trade-size 2,
  :last-trade-time "1524063764522",
  :type :tick-string,
  :last-trade-price 294.98,
  :single-trade-flag "false",
  :total-volume 35112,
  :ticker-id 0,
  :vwap 295.42257193,
  :uuid "1fcd44da-cef1-4430-ae4a-7db97b2cd868"}
 {:last-trade-size 1,
  :last-trade-time "1524063778190",
  :type :tick-string,
  :last-trade-price 294.95,
  :single-trade-flag "true",
  :total-volume 35137,
  :ticker-id 0,
  :vwap 295.42229016,
  :uuid "3b02541d-805c-4071-87fd-8a084983fd4d"}
 {:last-trade-size 1,
  :last-trade-time "1524063791728",
  :type :tick-string,
  :last-trade-price 294.8,
  :single-trade-flag "false",
  :total-volume 35166,
  :ticker-id 0,
  :vwap 295.42186854,
  :uuid "1153b830-3d71-405e-99e3-281a8f4fa728"}
 {:last-trade-size 8,
  :last-trade-time "1524063801309",
  :type :tick-string,
  :last-trade-price 295.08,
  :single-trade-flag "false",
  :total-volume 35210,
  :ticker-id 0,
  :vwap 295.42134386,
  :uuid "93d7af76-2124-450a-b326-df3d8464c637"}
 {:last-trade-size 6,
  :last-trade-time "1524063805070",
  :type :tick-string,
  :last-trade-price 294.96,
  :single-trade-flag "true",
  :total-volume 35248,
  :ticker-id 0,
  :vwap 295.42102559,
  :uuid "885dce37-e2d0-4310-9821-95d95ee3cd2e"}
 {:last-trade-size 1,
  :last-trade-time "1524063811364",
  :type :tick-string,
  :last-trade-price 295.12,
  :single-trade-flag "true",
  :total-volume 35275,
  :ticker-id 0,
  :vwap 295.42079736,
  :uuid "03663ff3-86b2-4979-8768-aecf4cd34767"}
 {:last-trade-size 1,
  :last-trade-time "1524063825157",
  :type :tick-string,
  :last-trade-price 294.96,
  :single-trade-flag "true",
  :total-volume 35298,
  :ticker-id 0,
  :vwap 295.42050464,
  :uuid "89867e3d-33e8-4303-a2da-7f9677a5c80a"}
 {:last-trade-size 3,
  :last-trade-time "1524063837782",
  :type :tick-string,
  :last-trade-price 294.61,
  :single-trade-flag "true",
  :total-volume 35346,
  :ticker-id 0,
  :vwap 295.41960906,
  :uuid "a815a0ff-e568-49e6-9c84-47b452cfee99"}
 {:last-trade-size 1,
  :last-trade-time "1524063851823",
  :type :tick-string,
  :last-trade-price 294.7,
  :single-trade-flag "true",
  :total-volume 35351,
  :ticker-id 0,
  :vwap 295.41950717,
  :uuid "82724966-d90b-4cb1-b54a-4f05eb32b2a5"}
 {:last-trade-size 1,
  :last-trade-time "1524063867219",
  :type :tick-string,
  :last-trade-price 294.78,
  :single-trade-flag "true",
  :total-volume 35370,
  :ticker-id 0,
  :vwap 295.41916746,
  :uuid "a13ea968-f73f-465f-89e4-e5ce1f62d68f"}
 {:last-trade-size 10,
  :last-trade-time "1524063876982",
  :type :tick-string,
  :last-trade-price 294.81,
  :single-trade-flag "true",
  :total-volume 35398,
  :ticker-id 0,
  :vwap 295.41866874,
  :uuid "eceb923a-3fa1-4035-9ac5-8e6f7fd47dd4"}
 {:last-trade-size 1,
  :last-trade-time "1524063887186",
  :type :tick-string,
  :last-trade-price 294.84,
  :single-trade-flag "true",
  :total-volume 35407,
  :ticker-id 0,
  :vwap 295.41852416,
  :uuid "014e890f-0d10-4106-a623-328bda49bc67"}
 {:last-trade-size 2,
  :last-trade-time "1524063892201",
  :type :tick-string,
  :last-trade-price 294.79,
  :single-trade-flag "false",
  :total-volume 35412,
  :ticker-id 0,
  :vwap 295.41843788,
  :uuid "2c79d876-25ae-4bb1-9cee-80763e08e4a3"}
 {:last-trade-size 1,
  :last-trade-time "1524063922046",
  :type :tick-string,
  :last-trade-price 295.02,
  :single-trade-flag "true",
  :total-volume 35456,
  :ticker-id 0,
  :vwap 295.41795967,
  :uuid "1d6a8705-7d32-4c49-81fc-1f68afbcb921"}
 {:last-trade-size 3,
  :last-trade-time "1524063933962",
  :type :tick-string,
  :last-trade-price 294.73,
  :single-trade-flag "false",
  :total-volume 35481,
  :ticker-id 0,
  :vwap 295.41757364,
  :uuid "1dcc810d-7178-4a7c-ac2d-0481433b864e"}
 {:last-trade-size 1,
  :last-trade-time "1524063965062",
  :type :tick-string,
  :last-trade-price 294.86,
  :single-trade-flag "true",
  :total-volume 35506,
  :ticker-id 0,
  :vwap 295.41713906,
  :uuid "68da2fe8-81cd-4bc5-b9fd-c9195077b3c9"}
 {:last-trade-size 1,
  :last-trade-time "1524063971833",
  :type :tick-string,
  :last-trade-price 294.8,
  :single-trade-flag "false",
  :total-volume 35511,
  :ticker-id 0,
  :vwap 295.41704449,
  :uuid "7ec3fd51-3022-4a7f-b007-2381db71c402"}
 {:last-trade-size 1,
  :last-trade-time "1524063973335",
  :type :tick-string,
  :last-trade-price 294.74,
  :single-trade-flag "false",
  :total-volume 35515,
  :ticker-id 0,
  :vwap 295.41697075,
  :uuid "ee400846-83cd-4b05-b71c-d376f27dc201"}
 {:last-trade-size 16,
  :last-trade-time "1524063980158",
  :type :tick-string,
  :last-trade-price 294.89,
  :single-trade-flag "false",
  :total-volume 35542,
  :ticker-id 0,
  :vwap 295.41653427,
  :uuid "b03d823d-2818-4471-a3c0-e5706b022024"}
 {:last-trade-size 1,
  :last-trade-time "1524063986426",
  :type :tick-string,
  :last-trade-price 295.0,
  :single-trade-flag "true",
  :total-volume 35612,
  :ticker-id 0,
  :vwap 295.41571784,
  :uuid "fec1e293-90be-473a-86d7-2546310dd161"}
 {:last-trade-size 1,
  :last-trade-time "1524064016104",
  :type :tick-string,
  :last-trade-price 294.97,
  :single-trade-flag "false",
  :total-volume 35630,
  :ticker-id 0,
  :vwap 295.41550298,
  :uuid "2bb7753a-d6e9-4492-aaa1-ce56ed052066"}
 {:last-trade-size 3,
  :last-trade-time "1524064024344",
  :type :tick-string,
  :last-trade-price 295.07,
  :single-trade-flag "true",
  :total-volume 35669,
  :ticker-id 0,
  :vwap 295.41508827,
  :uuid "a0aabe83-e6e8-4f2d-b583-2c10ca097d66"}
 {:last-trade-size 11,
  :last-trade-time "1524064025849",
  :type :tick-string,
  :last-trade-price 295.21,
  :single-trade-flag "false",
  :total-volume 35691,
  :ticker-id 0,
  :vwap 295.4149245,
  :uuid "70fe6ce5-963a-498a-b6eb-68d865a031f3"}
 {:last-trade-size 4,
  :last-trade-time "1524064030363",
  :type :tick-string,
  :last-trade-price 295.04,
  :single-trade-flag "true",
  :total-volume 35707,
  :ticker-id 0,
  :vwap 295.41483067,
  :uuid "515060b3-e729-4e5a-ae98-37ae23052086"}
 {:last-trade-size 1,
  :last-trade-time "1524064036882",
  :type :tick-string,
  :last-trade-price 295.2,
  :single-trade-flag "true",
  :total-volume 35714,
  :ticker-id 0,
  :vwap 295.41480298,
  :uuid "0335b90a-eb91-447a-aa58-1c4083c1176a"}
 {:last-trade-size 1,
  :last-trade-time "1524064069984",
  :type :tick-string,
  :last-trade-price 295.26,
  :single-trade-flag "false",
  :total-volume 35739,
  :ticker-id 0,
  :vwap 295.41466973,
  :uuid "74aa7b00-b0e0-4daa-aec8-50710279f2bf"}
 {:last-trade-size 7,
  :last-trade-time "1524064073244",
  :type :tick-string,
  :last-trade-price 295.29,
  :single-trade-flag "false",
  :total-volume 35747,
  :ticker-id 0,
  :vwap 295.41464223,
  :uuid "19df6df3-a467-404c-a9a3-9236d3e7b3b1"}
 {:last-trade-size 5,
  :last-trade-time "1524064098979",
  :type :tick-string,
  :last-trade-price 295.23,
  :single-trade-flag "true",
  :total-volume 35783,
  :ticker-id 0,
  :vwap 295.41443597,
  :uuid "1a750d1a-99ce-4104-bda2-fa36a17bcbaa"}
 {:last-trade-size 2,
  :last-trade-time "1524064113318",
  :type :tick-string,
  :last-trade-price 295.27,
  :single-trade-flag "false",
  :total-volume 35821,
  :ticker-id 0,
  :vwap 295.41428288,
  :uuid "0e954ff5-1834-4f7a-a9e2-cae38ba85ec0"}
 {:last-trade-size 2,
  :last-trade-time "1524064124043",
  :type :tick-string,
  :last-trade-price 295.35,
  :single-trade-flag "false",
  :total-volume 35831,
  :ticker-id 0,
  :vwap 295.41425091,
  :uuid "4a0d4dce-2537-4b17-a208-d6d1c7f5b39b"}
 {:last-trade-size 1,
  :last-trade-time "1524064126739",
  :type :tick-string,
  :last-trade-price 295.22,
  :single-trade-flag "true",
  :total-volume 35878,
  :ticker-id 0,
  :vwap 295.41403012,
  :uuid "e7abd308-01bc-4bdd-b48b-1a3774eaf481"}
 {:last-trade-size 4,
  :last-trade-time "1524064143138",
  :type :tick-string,
  :last-trade-price 294.98,
  :single-trade-flag "false",
  :total-volume 35922,
  :ticker-id 0,
  :vwap 295.41359152,
  :uuid "41a31fd4-624c-46fb-af92-01f87c213bc3"}
 {:last-trade-size 3,
  :last-trade-time "1524064166047",
  :type :tick-string,
  :last-trade-price 294.99,
  :single-trade-flag "true",
  :total-volume 35964,
  :ticker-id 0,
  :vwap 295.41314639,
  :uuid "57c581c9-8554-4b18-a9ce-bc07668cbe1d"}
 {:last-trade-size 5,
  :last-trade-time "1524064170561",
  :type :tick-string,
  :last-trade-price 294.97,
  :single-trade-flag "false",
  :total-volume 35972,
  :ticker-id 0,
  :vwap 295.41305179,
  :uuid "5edd6517-d914-4c62-b296-c92bd4c6f8b8"}
 {:last-trade-size 1,
  :last-trade-time "1524064175827",
  :type :tick-string,
  :last-trade-price 294.95,
  :single-trade-flag "true",
  :total-volume 35982,
  :ticker-id 0,
  :vwap 295.41292442,
  :uuid "e7770f89-437f-4de9-9d52-514bb381a5c2"}
 {:last-trade-size 2,
  :last-trade-time "1524064187731",
  :type :tick-string,
  :last-trade-price 294.96,
  :single-trade-flag "false",
  :total-volume 36033,
  :ticker-id 0,
  :vwap 295.41227555,
  :uuid "e6d3c76b-36f5-4726-a47e-5f7943116cb0"}
 {:last-trade-size 1,
  :last-trade-time "1524064195753",
  :type :tick-string,
  :last-trade-price 294.77,
  :single-trade-flag "true",
  :total-volume 36057,
  :ticker-id 0,
  :vwap 295.41189195,
  :uuid "c0ffffb5-9931-4c34-9a02-330634831ae7"}
 {:last-trade-size 2,
  :last-trade-time "1524064202550",
  :type :tick-string,
  :last-trade-price 294.9,
  :single-trade-flag "false",
  :total-volume 36065,
  :ticker-id 0,
  :vwap 295.41177044,
  :uuid "14d54aaa-81cd-4317-bf2c-951b4697eaef"}
 {:last-trade-size 2,
  :last-trade-time "1524064207313",
  :type :tick-string,
  :last-trade-price 294.72,
  :single-trade-flag "false",
  :total-volume 36092,
  :ticker-id 0,
  :vwap 295.41131917,
  :uuid "d172f3d5-54c5-47cb-b23c-904857add0c2"}
 {:last-trade-size 2,
  :last-trade-time "1524064210823",
  :type :tick-string,
  :last-trade-price 294.88,
  :single-trade-flag "false",
  :total-volume 36095,
  :ticker-id 0,
  :vwap 295.41127461,
  :uuid "ba72578d-916a-4035-a9d6-74d696f1bb66"}
 {:last-trade-size 6,
  :last-trade-time "1524064221402",
  :type :tick-string,
  :last-trade-price 294.75,
  :single-trade-flag "false",
  :total-volume 36119,
  :ticker-id 0,
  :vwap 295.41090303,
  :uuid "3fcfc541-dcb0-4384-b866-37ed3d5fb37d"}
 {:last-trade-size 9,
  :last-trade-time "1524064233688",
  :type :tick-string,
  :last-trade-price 295.01,
  :single-trade-flag "false",
  :total-volume 36151,
  :ticker-id 0,
  :vwap 295.41046086,
  :uuid "187e3d98-3a53-4400-a331-e3852bdcb721"}
 {:last-trade-size 16,
  :last-trade-time "1524064238557",
  :type :tick-string,
  :last-trade-price 295.31,
  :single-trade-flag "false",
  :total-volume 36189,
  :ticker-id 0,
  :vwap 295.4102529,
  :uuid "68566de5-60d9-4d5b-9567-3a22f99777c5"}
 {:last-trade-size 4,
  :last-trade-time "1524064241422",
  :type :tick-string,
  :last-trade-price 295.34,
  :single-trade-flag "false",
  :total-volume 36204,
  :ticker-id 0,
  :vwap 295.41021842,
  :uuid "112a1572-08c5-4484-8ea0-e0e4abb18092"}
 {:last-trade-size 1,
  :last-trade-time "1524064242677",
  :type :tick-string,
  :last-trade-price 295.36,
  :single-trade-flag "true",
  :total-volume 36207,
  :ticker-id 0,
  :vwap 295.41021375,
  :uuid "71c363ce-b683-4e6a-a796-ca7c86cbcb22"}]
